################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/WATA.LIS/.vs
/WATA.LIS/WATA.LIS/obj
/WATA.LIS/Modules/WATA.LIS.IF.BE/bin/Debug/net6.0-windows
/WATA.LIS/Modules/WATA.LIS.IF.BE/obj
/WATA.LIS/Modules/WATA.LIS.Main/bin/Debug/net6.0-windows
/WATA.LIS/Modules/WATA.LIS.Main/obj
/WATA.LIS/Modules/WATA.LIS.SENSOR.Distance/bin/Debug/net6.0-windows
/WATA.LIS/Modules/WATA.LIS.SENSOR.Distance/obj
/WATA.LIS/Modules/WATA.LIS.SENSOR.UHF_RFID/bin/Debug/net6.0-windows
/WATA.LIS/Modules/WATA.LIS.SENSOR.UHF_RFID/obj
/WATA.LIS/WATA.LIS.Core/bin/Debug/net6.0-windows
/WATA.LIS/WATA.LIS.Core/obj
/WATA.LIS/Modules/WATA.LIS.VISION.Camera/bin/Debug/net6.0-windows
/WATA.LIS/Modules/WATA.LIS.VISION.Camera/obj/Debug/net6.0-windows
/WATA.LIS/Modules/WATA.LIS.VISION.Camera/obj
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/log4net.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/DryIoc.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/ControlzEx.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.VISION.Camera.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.VISION.Camera.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.SENSOR.UHF_RFID.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.SENSOR.UHF_RFID.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.SENSOR.Distance.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.SENSOR.Distance.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.runtimeconfig.json
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.Main.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.Main.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.IF.BE.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.IF.BE.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.exe
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.deps.json
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.Core.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.Core.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/System.IO.Ports.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/Prism.Wpf.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/Prism.DryIoc.Wpf.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/Prism.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/Newtonsoft.Json.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/Microsoft.Xaml.Behaviors.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/MaterialDesignThemes.Wpf.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/MaterialDesignThemes.MahApps.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/MaterialDesignColors.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/MahApps.Metro.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/runtimes
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/LOG
/WATA.LIS/packages
/WATA.LIS/WATA.LIS.WPS/obj/Debug
/WATA.LIS/Modules/WATA.LIS.IF.BE/bin/Debug/net6.0-windows10.0.18362.0
/WATA.LIS/Modules/WATA.LIS.Main/bin/Debug/net6.0-windows10.0.18362.0
/WATA.LIS/Modules/WATA.LIS.SENSOR.Distance/bin/Debug/net6.0-windows10.0.18362.0
/WATA.LIS/Modules/WATA.LIS.SENSOR.UHF_RFID/bin/Debug/net6.0-windows10.0.18362.0
/WATA.LIS/Modules/WATA.LIS.VISION.Camera/bin/Debug/net6.0-windows10.0.18362.0
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/ikvm
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/fr/System.Private.ServiceModel.resources.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/es/System.Private.ServiceModel.resources.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/de/System.Private.ServiceModel.resources.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/de
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/cs/System.Private.ServiceModel.resources.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/cs
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/runtimes
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/ru
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/pt-BR
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/pl
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/LOG/VISION_LOG
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/LOG/DISTACE_LOG
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/LOG/BACKEND_LOG
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/LOG
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/ko
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/ja
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/it
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/VISION/Log
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/zh-Hant
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/zh-Hans
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/tr
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WinRT.Runtime.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.VISION.Camera.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.VISION.Camera.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.SENSOR.UHF_RFID.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.SENSOR.UHF_RFID.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.SENSOR.Distance.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.SENSOR.Distance.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.runtimeconfig.json
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.Main.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.Main.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.IF.BE.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.IF.BE.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.exe
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.deps.json
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.Core.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/WATA.LIS.Core.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/System.ServiceModel.Primitives.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/System.ServiceModel.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/System.Security.Cryptography.Pkcs.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/System.Private.ServiceModel.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/System.IO.Ports.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/System.Data.Odbc.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/Prism.Wpf.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/Prism.DryIoc.Wpf.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/Prism.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/Newtonsoft.Json.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/NetMQ.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/NaCl.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/Mono.Unix.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/Mono.Posix.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/Microsoft.Xaml.Behaviors.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/Microsoft.Windows.SDK.NET.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/Microsoft.Extensions.ObjectPool.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/Microsoft.Extensions.DependencyModel.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/Microsoft.Bcl.AsyncInterfaces.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/MaterialDesignThemes.Wpf.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/MaterialDesignThemes.MahApps.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/MaterialDesignColors.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/MahApps.Metro.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/log4net.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/IKVM.Runtime.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/ikvm.properties
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/IKVM.Java.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/ICSharpCode.SharpZipLib.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/DryIoc.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/ControlzEx.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/AsyncIO.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows10.0.18362.0/ApulsetechNet.dll
/WATA.LIS/WATA.LIS.Core/bin/Debug/net6.0-windows10.0.18362.0
/WATA.LIS/Modules/WATA.LIS.INDICATOR.LED/bin/Debug/net6.0-windows10.0.18362.0
/WATA.LIS/Modules/WATA.LIS.INDICATOR.LED/obj
/WATA.LIS/WATA.LIS/bin/Debug/net8.0-windows10.0.18362.0/LOG/OrbbecSDK.log.txt
*.onnx
