################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/WATA.LIS/.vs
/WATA.LIS/WATA.LIS/obj
/WATA.LIS/Modules/WATA.LIS.IF.BE/bin/Debug/net6.0-windows
/WATA.LIS/Modules/WATA.LIS.IF.BE/obj
/WATA.LIS/Modules/WATA.LIS.Main/bin/Debug/net6.0-windows
/WATA.LIS/Modules/WATA.LIS.Main/obj
/WATA.LIS/Modules/WATA.LIS.SENSOR.Distance/bin/Debug/net6.0-windows
/WATA.LIS/Modules/WATA.LIS.SENSOR.Distance/obj
/WATA.LIS/Modules/WATA.LIS.SENSOR.UHF_RFID/bin/Debug/net6.0-windows
/WATA.LIS/Modules/WATA.LIS.SENSOR.UHF_RFID/obj
/WATA.LIS/WATA.LIS.Core/bin/Debug/net6.0-windows
/WATA.LIS/WATA.LIS.Core/obj
/WATA.LIS/Modules/WATA.LIS.VISION.Camera/bin/Debug/net6.0-windows
/WATA.LIS/Modules/WATA.LIS.VISION.Camera/obj/Debug/net6.0-windows
/WATA.LIS/Modules/WATA.LIS.VISION.Camera/obj
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/log4net.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/DryIoc.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/ControlzEx.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.VISION.Camera.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.VISION.Camera.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.SENSOR.UHF_RFID.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.SENSOR.UHF_RFID.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.SENSOR.Distance.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.SENSOR.Distance.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.runtimeconfig.json
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.Main.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.Main.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.IF.BE.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.IF.BE.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.exe
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.deps.json
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.Core.pdb
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/WATA.LIS.Core.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/System.IO.Ports.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/Prism.Wpf.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/Prism.DryIoc.Wpf.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/Prism.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/Newtonsoft.Json.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/Microsoft.Xaml.Behaviors.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/MaterialDesignThemes.Wpf.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/MaterialDesignThemes.MahApps.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/MaterialDesignColors.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/MahApps.Metro.dll
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/runtimes
/WATA.LIS/WATA.LIS/bin/Debug/net6.0-windows/LOG
